.loader {
    position: absolute;
    margin: 75px auto;
    width: 200px;
    height: 200px;
    display: block;
    overflow: hidden;
  }
  
  .loader div {
    height: 100%;
  }
  
  /* loader 1 */
  .loader1, .loader1 div {
    border-radius: 50%;
    padding: 8px;
    border: 2px solid transparent;
    -webkit-animation: rotate1076 linear 3.5s infinite;
    animation: rotate1076 linear 3.5s infinite;
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgba(143, 0, 156, 0.747);
  }
  
  .loader, .loader * {
    will-change: transform;
  }
  
  @keyframes rotate1076 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  