.lancamentos {
    width: 100%;
    height: 70vh;
    margin-top: 5px;
    overflow-x: hidden;
    display: flex;
    justify-content: start;
    flex-direction: row;
}
.sl1 {
    width: 100%;
    height: 70vh;
    background-image: url(/home/assets/images/porsche.png);
    background-position: center;
    background-size: cover;
}
.text-lancamento {
    width: 100%;
    height: 100%;
    margin-left: 140px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
}

.lanc-title2 {
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-display: swap;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -1px;
    color: white;

}
.button-lanc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: white;
  background-color: red;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #8d0000, 4px 2px 16px 0px rgba(177, 0, 0, 0.48);
  margin-top: 30px;
  margin-bottom: 30px;
 }
 
 .button-lanc:hover {
  color: red;
  background-color: black;
  box-shadow: -2px -1px 8px 0px black, 2px 1px 8px 0px rgba(31, 31, 32, 0.48);
  font-weight: bold;
 }
 
 .button-lanc:active {
  box-shadow: none;
 }

  .radio-input {
    box-shadow: -5px -6px 15px rgba(255, 255, 255, 0.5),
      10px 10px 25px rgba(70, 70, 70, 0.5);
    height: 70px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    background-color: white;
    margin-top: 15px;
  }
  
  .radio-input input[type="radio"] {
    display: none;
  }
  
  .label {
    font-size: .9rem;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
    padding: 18px 15px;
    border-radius: 35px;
    transition: 0.5s;
    cursor: pointer;
    color: black;
  }
  
  .radio-input input[type="radio"]:checked + label {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.151),
      10px 10px 15px rgba(0, 0, 0, 0.218);
    background: linear-gradient(45deg,rgb(255, 46, 46),rgb(143, 0, 0));
    color: white;
    transform: translateY(-4px);
  }


  .radio-input input[type="radio"]:hover:not(:checked)+ label {
    box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.151),
      inset 10px 10px 15px rgba(0, 0, 0, 0.218);
  }

  .img-lancamento img {
    margin-top: 100px;
  }
  