.navbar {
    width: 100%;
    height: 11vh;
    background-color: rgba(0, 0, 0, 0.733);
    box-shadow: 0px 2px 10px black;
}
.navbar nav{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.navtools ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navtools ul li a{
    text-decoration: none;
    color: white;
}
.navtools ul li{
    padding: 30px;
    text-transform: uppercase;
}

.accounttools ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accounttools ul li a{
    text-decoration: none;
    color: white;
}
.accounttools ul li{
    padding: 30px;
    text-transform: uppercase;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
    animation-name: opacity;
    animation-duration: 1s;
  }
  
  .modalcont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(145, 0, 0, 0.877);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    animation-name: opacity;
    animation-duration: 1s;
  }
  @keyframes opacity {
    from {opacity: 0;}
    to {opacity: 100%;}
  }

  .nav__links {
    cursor: pointer;
  }
  .modalcont h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  .modalcont .caixa__login-input {
    position: relative;
  }
  
  .modalcont .caixa__login-input input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .modalcont .caixa__login-input label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .modalcont .caixa__login-input input:focus ~ label,
  .modalcont .caixa__login-input input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgb(192, 2, 2);
    font-size: 12px;
  }
  
  .modalcont form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(192, 2, 2);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .modalcont a:hover {
    background: rgb(192, 2, 2);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(192, 2, 2), 0 0 25px rgb(192, 2, 2), 0 0 50px rgb(192, 2, 2),
      0 0 100px rgb(192, 2, 2);
  }
  
  .modalcont a span {
    position: absolute;
    display: block;
  }
  
  .caixa__login a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(192, 2, 2));
    animation: animacaoBotao1 1s linear infinite;
  }
  
  @keyframes animacaoBotao1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  
  .modalcont a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(192, 2, 2));
    animation: animacaoBotao2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  @keyframes animacaoBotao2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  
  .modalcont a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(192, 2, 2));
    animation: animacaoBotao3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes animacaoBotao3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  .modalcont a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(192, 2, 2));
    animation: animacaoBotao4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes animacaoBotao4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }}
  
  .close {
    color: #aaa;
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .navtools a:hover {
    border-bottom: 3px solid red;
    animation: animacaomenu 0.5s linear;
  }

  @keyframes animacaomenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }}

  .navtools a {
    padding-bottom: 20px;
  }

  .selected {
    border-bottom: 3px solid red;
  }

  .accounttools ul li a:hover {
    border-bottom: 3px solid red;
    padding-bottom: 20px;
    animation: animacaoaccount 0.5s linear;
  }
  @keyframes animacaoaccount {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }}


    .modalcont2 {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 800px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.8);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(145, 0, 0, 0.877);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      animation-name: opacity;
      animation-duration: 1s;
    }

    .nav__links {
      cursor: pointer;
    }
    .modalcont2 h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
    }
    .modalcont2 .caixa__cadastro-input {
      position: relative;
    }
    
    .modalcont2 .caixa__cadastro-input input {
      width: 300px;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
    .modalcont2 .caixa__cadastro-input label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: 0.5s;
    }
    
    .modalcont2 .caixa__cadastro-input input:focus ~ label,
    .modalcont2 .caixa__cadastro-input input:valid ~ label {
      top: -20px;
      left: 0;
      color: rgb(192, 2, 2);
      font-size: 12px;
    }
    
    .modalcont2 form a {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: rgb(192, 2, 2);
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: 0.5s;
      margin-top: 40px;
      letter-spacing: 4px;
    }
    
    .modalcont2 a:hover {
      background: rgb(192, 2, 2);
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px rgb(192, 2, 2), 0 0 25px rgb(192, 2, 2), 0 0 50px rgb(192, 2, 2),
        0 0 100px rgb(192, 2, 2);
    }
    
    .modalcont2 a span {
      position: absolute;
      display: block;
    }
    
    .caixa__cadastro a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, rgb(192, 2, 2));
      animation: animacaoBotao1 1s linear infinite;
    }
    
    @keyframes animacaoBotao1 {
      0% {
        left: -100%;
      }
      50%,
      100% {
        left: 100%;
      }
    }
    
    .modalcont2 a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, rgb(192, 2, 2));
      animation: animacaoBotao2 1s linear infinite;
      animation-delay: 0.25s;
    }
    
    @keyframes animacaoBotao2 {
      0% {
        top: -100%;
      }
      50%,
      100% {
        top: 100%;
      }
    }
    
    .modalcont2 a span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, rgb(192, 2, 2));
      animation: animacaoBotao3 1s linear infinite;
      animation-delay: 0.5s;
    }
    
    @keyframes animacaoBotao3 {
      0% {
        right: -100%;
      }
      50%,
      100% {
        right: 100%;
      }
    }
    
    .modalcont2 a span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, rgb(192, 2, 2));
      animation: animacaoBotao4 1s linear infinite;
      animation-delay: 0.75s;
    }
    
    @keyframes animacaoBotao4 {
      0% {
        bottom: -100%;
      }
      50%,
      100% {
        bottom: 100%;
      }}


      .inputs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }
      .input1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }

      .modalcont2 .buttons a{
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: white;
        font-size: 11px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        letter-spacing: 4px;
        animation: none;
      }

      .modalcont2 .buttons a:hover {
        color: red;
        background: none;
        box-shadow: none;
        border: none;
      }

      .modalcont2 .buttons a span:nth-child(2) {
        animation: none;
      }
      .modalcont2 .buttons a span:nth-child(3) {
        animation: none;
      }
      .modalcont2 .buttons a span:nth-child(4) {
        animation: none;
      }